body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(218, 210, 210);
    margin: 0;
    background-image: url(/imgens/Cover.jpg);
    background-attachment: fixed ;
    background-size: cover ;
}

.principal {
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent ;
    
}

.principal nav ul{
    text-align: ;
    margin: 25px 25px 0 0;
}

.principal nav li {
    display: inline-flex;
    list-style: none;
    border: 1px solid white;
}
.principal nav a{
    display: block;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;

}

.principal nav a:hover {
    background: rgba(0, 0, 0, 0.5);
}
 
.principal-content {
        text-align: center;
        margin-top: 150px;
        color: rgb(18, 29, 29);
        
}
    
.principal-content h1 {
        text-transform: uppercase;
        font-size: 50px;
        text-shadow: 1px 1px 3px  rgb(189, 147, 147) ;
}

.principal-content {
        text-transform: uppercase;
        font-size: 25px;
        text-shadow: 1px 1px 3px rgb(189, 147, 147) ;
    }

.principal-content p {
        background-color: rgba(0, 0, 0, 0.3);
        display: inline-block;
        padding: 10px;
        border-bottom: 2px solid white;
        font-size: 15px;
}
    

main {
        width: 80%;
        margin: auto;
}
    
.content-section {
        background-color: transparent;
        padding: 15px;
        margin: 100px 100px;
        padding: 10px 10px;
        
    
    }
    .card {
        border: 2px solid;
        margin-left: 20px;
        width: 45%;
        text-align: center;
        float: left;
    
    }
    .card img {
        height: auto; 
        width: auto; 
        max-width: 100px; 
        max-height: 100px;
    }
    .content-section {
        clear: both;
        overflow: auto;
    }
    
    .content-section a{
        display: block;
        background: rgba(0, 0, 0, 0.2);
        padding: 10px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
    }
    .content-section a:hover {
        background: rgba(0, 0, 0, 0.5);
    }
    
    
    
    h2 {
        background-color: rgba(0, 0, 0, 0.2);
        width:auto;
        margin-top: 0%;
        text-align: center;
    }
    
   .rodape {
         
        text-align: center;
        font-size: 14px;
        color: whitesmoke;
        text-shadow: 2px 2px 2px #333;
        background-color: grey;
        height: 30px;
        width: auto;
        vertical-align: bottom;
        line-height: 100%;
    }